.width-300{
    width: 300px !important;
}


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #007bff; 
}

.form-wrapper {
  width: 600px; 
}

.form-wrapper h3 {
  text-align: center;
  color: #0c0c0c; 
}

.form-wrapper form {
  background-color: #eceaea;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-wrapper label {
  display: block;
  margin-bottom: 5px;
}

.form-wrapper input[type="text"],
.form-wrapper input[type="email"],
.form-wrapper input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #121212;
  border-radius: 4px;
}

.form-wrapper .d-grid {
  margin-top: 10px;
}

.form-wrapper .forget-password {
  margin-top: 10px;
  font-size: 14px;
  color: #080808; 
}

.form-wrapper .forget-password a {
  color: #020202; 
}

.form-wrapper .forget-password a:hover {
  text-decoration: underline;
  color: #007bff; 
}
.navbar-wrapper {
  background-color: #007bff; 
  padding: 10px; 
  border-radius: 10px; 
}

.navbar {
  margin-bottom: 0; 
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #fff; 
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
  color: #fff; 
}

.navbar-toggler {
  border-color: #fff; 
}

.navbar-toggler-icon {
  background-color: #fff; 
}

.navbar-nav .nav-link {
  padding-right: 10px;
}

.navbar-nav .nav-link:last-child {
  padding-right: 0;
}
